body {
    width: 350px;
    height: 610px;
    font-family: Arial, sans-serif;
    text-align: center;
    align-items: center;
    font-size: medium;
    background-image: linear-gradient(rgba(255, 255, 255, 0.85), rgba(255, 255, 255, 0.85)), url("https://www.tastingtable.com/img/gallery/18-popular-british-biscuits-ranked/l-intro-1676828380.jpg");
    background-size: 360px 620px;
    background-repeat: no-repeat;
    background-position: center;
    border: solid black;
    border-radius: 5px;
    margin: 10px auto;
    padding: 5px;
}
#title {
    background-color: rgba(245, 245, 245, 0.6);
    margin-top: -5px;
}
