body {
    width: 350px;
    height: 680px;
    font-family: Arial, sans-serif;
    text-align: center;
    align-items: center;
    font-size: medium;
    background-image: linear-gradient(rgba(255, 255, 255, 0.85), rgba(255, 255, 255, 0.85)), url("https://teledyne.box.com/shared/static/huvnf84532qad0scq1p3lhbuhlux3jjj.jpeg");
    background-size: 360px 690px;
    background-repeat: no-repeat;
    background-position: center;
    border: solid black;
    border-radius: 5px;
    margin: 10px auto;
    padding: 5px;
}
#title {
    background-color: rgba(245, 245, 245, 0.2);
    margin-top: -5px;
}
.text-elements {
    font-size: 90%;
    text-align: left;
    align-items: left;
    padding-left: 5px;
    background-color: rgba(245, 245, 245, 0.2);
    border: solid gray;
    border-radius: 5px;
    border-width: 1px;
    margin-bottom: -20px;
    margin-top: -10px;
}
.inline-elements {
    display: flex;
    margin-left: 5px;
    width: 355px;
}
.inline-elements > div {
    display: flex;
    flex-direction: column;
}
.inline-elements1 {
    width: 120px;
    display: flex;
    margin-left: 10px;
    margin-top: 12px;
}
.inline-elements1 > div {
    display: flex;
    flex-direction: column;
    background-color: rgba(245, 245, 245, 0.2);
}
.inline-elements1 label {
    margin-bottom: 5px; 
    background-color: whitesmoke 25%;
}
.inline-elements2 {
    margin-left: 10px;
}
.inline-elements3 {
    display: flex;
    margin-left: 5px;
    width: 355px;
    gap: 14px;
    margin-bottom: -15px;
}
.inline-elements4 {
    display: flex;
    width: 150px;
    margin-top: 10px;
    gap: 20px;
}
.inline-elements5 {
    display: flex;
    width: 150px;
    height: 20px;
    margin-top: -6px;
    gap: 20px;
}
.inline-elements6 {
    display: flex;
    width: 150px;
    height: 20px;
    margin-top: 10px;
    gap: 20px;
}
.inline-elements7 {
    display: flex;
    width: 150px;
    height: 20px;
    margin-top: 10px;
    gap: 20px;
}
.inline-elements8 {
    display: flex;
    width: 150px;
    height: 20px;
    margin-top: 10px;
    gap: 20px;
}
.inline-elements9 {
    display: flex;
    width: 150px;
    height: 20px;
    margin-top: 10px;
    gap: 20px;
}
.inline-elements10 {
    display: flex;
    width: 150px;
    height: 20px;
    margin-top: 10px;
    gap: 20px;
}
.inline-elements11 {
    display: flex;
    width: 150px;
    height: 20px;
    margin-top: 10px;
    gap: 20px;
}
.inline-elements12 {
    display: flex;
    width: 100px;
    height: 15px;
    border: solid black;
    text-align: center;
    align-items: center;
    border-radius: 5px;
    margin-top: -230px;
    margin-left: 235px;
}
.inline-elements50 {
    display: flex;
    flex-wrap: wrap;
    width: 150px;
    height: 20px;
    margin-top: 20px;
    margin-left: 145px;
}
#buttonMinus1, #buttonMinus2, #buttonMinus3, #buttonMinus4, #buttonMinus5, #buttonMinus6, #buttonMinus7, #buttonMinus8 {
    width: 1000px;
    height: 20px;
    border: solid black;
    border-radius: 5px;
    background-color: red;
}
#buttonPlus1, #buttonPlus2, #buttonPlus3, #buttonPlus4, #buttonPlus5, #buttonPlus6, #buttonPlus7, #buttonPlus8 {
    width: 150px;
    height: 20px;
    border: solid black;
    border-radius: 5px;
    background-color: green;
}
#updateParagraph1, #updateParagraph2, #updateParagraph3, #updateParagraph4, #updateParagraph5, #updateParagraph6, #updateParagraph7, #updateParagraph8 {
    border: solid black;
    text-align: center;
    align-items: center;
    border-radius: 5px;
    width: 150px;
    height: 20px;
    margin-top: -2px;
    margin-left: 0px;
}
#Generate {
    background-color: green;
    color: wheat;
    height: 70px;
    border-radius: 50%;
    border: solid black;
    font-weight: bold;
}
#Result {
    border: solid black;
    width: 106px;
    height: 50px;
    font-weight: bold;
    background-color: bisque;
    border-radius: 5px;
    margin-right: 15px;
    word-wrap: break-word;
    margin-top: 2px;
    padding-top: 12px;
}
#startButton{
    background-color: green;
    color: wheat;
    height: 70px;
    width: 90px;
    border-radius: 50%;
    border: solid black;
    font-weight: bold;
    margin-top: -15px;
}
#timer {
    font-size: x-large;
    border: solid black;
    background-color: aliceblue;
    height: 30px;
    width: 110px;
    border-radius: 20%;
    font-weight: bold;
}
#RstTimer {
    background-color: rgb(124, 1, 1);
    color: aliceblue;
    height: 30px;
    width: 110px;
    border-radius: 50%;
    border: solid black;
    font-weight: bold;
}
#RstButton {
    font-size: xx-small;
}

